#CH1check, #CH9check, #ECGCH9check{ background-color: rgb(128,129,130);color:white;}
#CH2check, #CH10check, #ECGCH10check{ background-color: rgb(123, 74,141); color:white; }
#CH3check, #CH11check, #ECGCH11check{ background-color: rgb(57, 90, 161); color:white; }
#CH4check, #CH12check{ background-color: rgb(49,113,89); color:white;}
#CH5check, #CH13check{ background-color: rgb(220, 174, 5); color:white;}
#CH6check, #CH14check{ background-color: rgb(254,97,55); color: white;}
#CH7check, #CH15check{ background-color: rgb(255,56,44); color:white;}
#CH8check, #CH16check{ background-color: rgb(162, 81,48); color: white;}

#MainWindow{ background-color: rgb(21, 21, 21); }
QLabel{ color: white; }

QGroupBox{ 
    background-color: rgb(36, 36, 36);
    color: yellow; 
    font-weight: bold;
}

QCheckBox{
    color: white;
    border-radius: 6px;
}

#playButton, #stopButton{ background-color: transparent; }

#playButton:hover, #stopButton:hover{
    background-color: white;
    border-radius: 15px;
}

#openedFileLabel{ color: rgb(235, 193, 22); }
QListView{
    background-color: black;
    color: white;
}

#browseFileBtn{
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}
#browseFileBtn:hover{
    background-color: rgb(128, 201, 225);
    color: white;
}

QLineEdit, QPlainTextEdit, QComboBox{
    color: white;
    background-color: black;
    padding: 4px;
}

QRadioButton{
    color: white;
    background-color: transparent;
}

#refreshSerialPortBtn{ 
    background-color: transparent;
    border-radius: 10px;
}
#refreshSerialPortBtn:hover{ background-color: white; }

#openFileBtn{
    background-color: rgb(0, 106, 255);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#openFileBtn:hover{
    background-color: rgb(128, 201, 225);
    color: white;
}
#show_hide_button{
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#show_hide_button:hover{ background-color: rgb(128, 201, 225); }

#startSessionBtn{
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}
#startSessionBtn:hover{
    background-color: rgb(128, 201, 225);
    color: black;
}

#openFileBtn:disabled, #browseFileBtn:disabled, #startSessionBtn:disabled, #inputBoard:disabled, #serialPortInput:disabled{ background-color: grey; }
#openedFileLabel:disabled{ color: gray; }